body {
  background-color: #fff;
  background-image: url("../img/bkg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 1024px; }

header {
  height: 250px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 1px 8px rgba(68, 63, 3, 0.07); }
  header img {
    width: 200px;
    align-self: center;
    margin-top: -30px; }

.content {
  margin-top: -42px; }

.tab-content {
  box-shadow: 0px 1px 8px rgba(68, 63, 3, 0.07); }

.btn-table {
  font-size: 12px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1350px; } }
table th {
  font-size: 13px; }
table td {
  font-size: 12px; }

.dataTables_info,
.paginate_button {
  font-size: 14px; }

.dataTables_filter input {
  background: #ffffff;
  box-shadow: inset 0px 0px 5px rgba(111, 128, 157, 0.2);
  border-radius: 3px;
  border: 1px solid #dadada; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border: 1.5px solid #13a0d6 !important;
  background: #fff !important;
  color: #13a0d6 !important;
  font-weight: bold;
  border-radius: 5px; }

.tab-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
