body {
  background-color: #fff;
  min-width: 1024px;
}

header {
  background-color: #000;
  height: 300px;
}

.content {
  margin-top: -42px;
}

.tab-content {
  box-shadow: 0px 1px 8px rgba(68, 63, 3, 0.07);
}
