table {
  th {
    font-size: 13px;
  }
  td {
    font-size: 12px;
  }
}
.dataTables_info,
.paginate_button {
  font-size: 14px;
}

.dataTables_filter {
  input {
    background: #ffffff;
    box-shadow: inset 0px 0px 5px rgba(111, 128, 157, 0.2);
    border-radius: 3px;
    border: 1px solid rgb(218, 218, 218);
  }
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border: 1.5px solid #13a0d6 !important;
  background: #fff !important;
  color: #13a0d6 !important;
  font-weight: bold;
  border-radius: 5px;
}
