.modal-body {
  p,
  li {
    font-size: 14px;
  }
}

.modal-header {
  img {
    width: 32px;
    margin-right: 13px;
  }
}

footer {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 60px;
  padding: 20px;
}
