.id-number {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.form-group {
  label {
    display: block;
  }
  input[type="text"],
  input[type="tel"],
  input[type="number"],
  input[type="email"] {
    width: 100%;
    border: 0px;
    padding: 0.5em 1em;
    background: #ffffff;
    box-shadow: inset 0px 0px 5px rgba(111, 128, 157, 0.2);
    border-radius: 3px;
  }
  .form-inline {
    label {
      margin: 0px 20px -2px 10px;
    }
  }
}

.btn-fieldset {
  margin: 20px 0px;
  text-align: center;
}

.left-buttons {
  display: flex;
  flex-wrap: wrap;
  button {
    margin-bottom: 10px;
  }
}

@include respond-above(sm) {
  .modal-thank-you {
    .modal-footer {
      display: block;
      .left-buttons {
        float: left;
        button {
          margin-bottom: 0px;
          margin-right: 15px;
        }
        a {
          align-self: center;
        }
      }
      .btn-secondary {
        float: right;
      }
    }
  }
}

@include respond-above(md) {
  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  .form-footer {
    border-top: 1px solid #eeeeee;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .btn-fieldset {
      text-align: right;
    }
  }
}
