body {
  background-image: url("../img/bkg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper-logo {
  display: flex;
  justify-content: center;
  .logo {
    width: 220px;
    margin: 10px 0px;
  }
}

.form-card {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 1px 8px rgba(68, 63, 3, 0.07);
  border-radius: 5px;
  border: 0px;
  margin-bottom: 50px;
  .event-description {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    h4 {
      span {
        color: $green;
      }
    }
    .date-time {
      background-color: #272332;
      color: $blue;
      font-weight: bold;
      border-radius: 5px;
      padding: 0.5em 1em;
      transform: rotate(-1deg);
      width: fit-content;
      text-align: center;
      margin: 0 auto;
    }
    .place {
      font-weight: bold;
      color: $darkPurple;
      margin-top: 5px;
    }
    .race-lenght {
      span {
        padding: 0.5em 0.3em;
        transform: rotate(-1deg);
        font-weight: bold;
        border-radius: 3px 0px 3px 0px;
        &:first-child {
          background-color: $blue;
        }
        &:last-child {
          background-color: $green;
        }
      }
    }
  }
}

footer {
  text-align: center;
}

.payment-methods {
  text-align: center;
  p {
    margin-bottom: 0.5rem;
  }
  img {
    margin: 0px 5px;
  }
}

address {
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
}

@include respond-above(md) {
  body {
    background-size: cover;
  }
}
