.btn svg {
  width: 20px;
  display: inline-block;
  margin-top: -4px;
  margin-right: 8px; }

.id-number input[type="number"]::-webkit-inner-spin-button,
.id-number input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

.form-group label {
  display: block; }
.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="number"],
.form-group input[type="email"] {
  width: 100%;
  border: 0px;
  padding: 0.5em 1em;
  background: #ffffff;
  box-shadow: inset 0px 0px 5px rgba(111, 128, 157, 0.2);
  border-radius: 3px; }
.form-group .form-inline label {
  margin: 0px 20px -2px 10px; }

.btn-fieldset {
  margin: 20px 0px;
  text-align: center; }

.left-buttons {
  display: flex;
  flex-wrap: wrap; }
  .left-buttons button {
    margin-bottom: 10px; }

@media (min-width: 768px) {
  .modal-thank-you .modal-footer {
    display: block; }
    .modal-thank-you .modal-footer .left-buttons {
      float: left; }
      .modal-thank-you .modal-footer .left-buttons button {
        margin-bottom: 0px;
        margin-right: 15px; }
      .modal-thank-you .modal-footer .left-buttons a {
        align-self: center; }
    .modal-thank-you .modal-footer .btn-secondary {
      float: right; } }
@media (min-width: 992px) {
  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px; }

  .form-footer {
    border-top: 1px solid #eeeeee;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .form-footer .btn-fieldset {
      text-align: right; } }
.modal-body p,
.modal-body li {
  font-size: 14px; }

.modal-header img {
  width: 32px;
  margin-right: 13px; }

footer {
  background: white;
  background: linear-gradient(0deg, white 0%, white 80%, rgba(255, 255, 255, 0) 100%);
  height: 60px;
  padding: 20px; }

body {
  background-image: url("../img/bkg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.wrapper-logo {
  display: flex;
  justify-content: center; }
  .wrapper-logo .logo {
    width: 220px;
    margin: 10px 0px; }

.form-card {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 1px 8px rgba(68, 63, 3, 0.07);
  border-radius: 5px;
  border: 0px;
  margin-bottom: 50px; }
  .form-card .event-description {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee; }
    .form-card .event-description h4 span {
      color: #9aca3c; }
    .form-card .event-description .date-time {
      background-color: #272332;
      color: #44c8f1;
      font-weight: bold;
      border-radius: 5px;
      padding: 0.5em 1em;
      transform: rotate(-1deg);
      width: fit-content;
      text-align: center;
      margin: 0 auto; }
    .form-card .event-description .place {
      font-weight: bold;
      color: #272332;
      margin-top: 5px; }
    .form-card .event-description .race-lenght span {
      padding: 0.5em 0.3em;
      transform: rotate(-1deg);
      font-weight: bold;
      border-radius: 3px 0px 3px 0px; }
      .form-card .event-description .race-lenght span:first-child {
        background-color: #44c8f1; }
      .form-card .event-description .race-lenght span:last-child {
        background-color: #9aca3c; }

footer {
  text-align: center; }

.payment-methods {
  text-align: center; }
  .payment-methods p {
    margin-bottom: 0.5rem; }
  .payment-methods img {
    margin: 0px 5px; }

address {
  text-align: center;
  margin-top: 30px;
  font-size: 12px; }

@media (min-width: 992px) {
  body {
    background-size: cover; } }

/*# sourceMappingURL=main.css.map */
