body {
  background-color: #fff;
  background-image: url("../img/bkg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 1024px;
}

header {
  height: 250px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 1px 8px rgba(68, 63, 3, 0.07);
  img {
    width: 200px;
    align-self: center;
    margin-top: -30px;
  }
}

.content {
  margin-top: -42px;
}

.tab-content {
  box-shadow: 0px 1px 8px rgba(68, 63, 3, 0.07);
}

.btn-table {
  font-size: 12px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1350px;
  }
}
